---
---

@import "{{ site.theme }}";

#container {
    width: 500px;
    margin: 0 auto;
}

table {
    margin: 0 auto;
    margin-bottom: 20px;

    th {
        display: none;
    }
}

@media print, screen and (max-width: 600px) {
    #container {
        width: auto;
    }
}
